
@import "../../variables";
@import '../mixins';


.exit-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    ". a"
    ". a";
  .btn {
    grid-area: a;
    justify-self: self-start;
    @include button((12px 20px), $button-color, 18px);
    @include svg-rectangle((150, 0), 3, 0.7s);
    &:hover {
      @include animate-hover-button(5, (0, 150), 0, 1.05, $bottom-text-shadow-color);
    }
  }
}
