<div class="film-list">
  <app-exit-button></app-exit-button>

  <div class="content">
    <app-textarea></app-textarea>
    <div class="control-button-wrapper">
      <div class="control-button">
        <a class="btn" (click)="doRandomize(filmList)">Random</a>
        <a class="btn"  (click)="doSynchronize(filmList)">sync IMDB</a>
        <a class="btn"  (click)="back()">Back</a>
      </div>
      <p class="response">Random result: {{this.num}} {{this.randChoise}}</p>
    </div>
    <div class="tabs">

    </div>
    <div class="list-of-film">
      <ol>
        <li *ngFor="let film of filmList">
          <a>{{film.title}}</a>
        </li>
      </ol>
    </div>
  </div>

</div>
