

@import "../../variables";
@import '../mixins';


.film-list {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "c a a b"
    ". a a .";
  .content {
    grid-area: a;
    align-self: center;
    justify-self: center;
    app-textarea {
      width: 100%;
      flex-flow: row;
      justify-content: center;
    }
  }
  .exit {
    grid-area: b;
    align-self: flex-start;
    justify-content: flex-start;
    margin: 20px 40px;
  }

  .back {
    grid-area: c;
    align-self: flex-start;
    justify-content: flex-end;
    margin: 20px 40px;
  }

  .list-of-film {
    ol {
      padding: 16px;
      min-height: 150px;
      li {
        a {
          word-break: break-all;
        }
      }
    }
  }

  .control-button-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "a a a"
      "b b b";

    .control-button {
      grid-area: a;
      padding: 14px 0;
      a {
        display: inline-block;
        width: 100%;
        max-width: 150px;
        line-height: 40px;
        text-align: center;
        color: $button-color;
        text-transform: uppercase;
        font-size: 12px;
        transition: all 0.3s ease;
        position: relative;
        letter-spacing: 0;
        &:hover {
          &:before {
            bottom: auto;
            top: 0;
            width: 70%;
          }
        }
        &:hover, &:active {
          text-shadow: 1px 1px 0 $bottom-text-shadow-color;
          letter-spacing: 5px;
          &:before, &:after {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: width 350ms ease-in-out;
            transition: width 350ms ease-in-out;
            width: 70%;
            border-color: $button-color;

          }
        }
        &:before, &:after {
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          border: 1px solid transparent;
          bottom: 0px;
          content: " ";
          display: block;
          margin: 0 auto;
          position: relative;
          -webkit-transition: all 280ms ease-in-out;
          transition: all 280ms ease-in-out;
          width: 0;
        }
      }
    }
    .response {
      grid-area: b;
      color: $button-color;

    }
  }
}
