<div class="film-list">
  <app-exit-button class="exit" (click)="goToAuthorization()">
    <app-button [buttonTitle]="'Exit'"></app-button>
  </app-exit-button>
  <app-exit-button class="back" (click)="back()">
    <app-button [buttonTitle]="'Back'"></app-button>
  </app-exit-button>

  <app-exit-button class="sync-list" (click)="selectFunction()">
    <div *ngIf="!ifClicked; then sync else list"></div>

    <ng-template #sync>
      <app-button [buttonTitle]="'sync IMDB'"></app-button>
    </ng-template>

    <ng-template #list>
      <app-button [buttonTitle]="'go to wunderlist film'"></app-button>
    </ng-template>

  </app-exit-button>

  <div class="content">
    <app-textarea [listId]='listId'
                  (newFilmInList)="addFilm($event)"></app-textarea>
    <div class="control-button-wrapper">
      <div class="control-button">
        <a class="btn" (click)="doRandomize(displayFilmList)">Random</a>
        <p class="response">{{this.num}} {{this.randChoise}}</p>
      </div>
    </div>
    <div *ngIf="!ifClicked; then oneContent else twoContent"></div>
    <ng-template #oneContent>
      <app-tabs (currentTab)="onTabChange($event)">
        <app-tab [tabTitle]="'All'"></app-tab>
        <app-tab [tabTitle]="'Good films'"></app-tab>
        <app-tab [tabTitle]="'Bad films'"></app-tab>
      </app-tabs>

      <div class="list-of-film">
        <ul>
          <li *ngFor="let film of displayFilmList; index as i">
            <div class="separator">
              <span>{{i+1}}.</span>
              <label for="'watched' + {{i}}">
                <a>{{film.title}}</a>
              </label>
            </div>
            <input type="checkbox" id="'watched' + {{i}}" (change)="moveToWatchedFilms(i)">
          </li>
        </ul>
      </div>
    </ng-template>

    <ng-template #twoContent>
      <app-sync-film [movieResponseResult]="movieResponseResult"
                     (deleteFilm)="deleteFromCache($event)"></app-sync-film>

    </ng-template>

  </div>

</div>
