.film-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "c d b" ". a ."; }
  .film-list .content {
    grid-area: a;
    align-self: center;
    justify-self: center;
    margin: 20px 0 60px;
    width: 600px; }
    .film-list .content app-textarea {
      width: 100%;
      flex-flow: row;
      justify-content: center; }
  .film-list .exit {
    grid-area: b;
    align-self: flex-start;
    justify-content: flex-start;
    margin: 20px 40px; }
  .film-list .back {
    grid-area: c;
    align-self: flex-start;
    justify-content: flex-end;
    margin: 20px 40px; }
  .film-list .sync-list {
    grid-area: d;
    align-self: flex-start;
    justify-content: flex-end;
    margin: 20px 40px; }
  .film-list .list-of-film ul {
    padding: 0;
    min-height: 150px;
    margin: 0;
    list-style: none; }
    .film-list .list-of-film ul li {
      background-color: rgba(255, 255, 255, 0.6);
      background-clip: padding-box;
      border: 2px solid transparent;
      transition: all 0.2s ease;
      cursor: pointer;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between; }
      .film-list .list-of-film ul li .separator {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        color: #4b709b; }
        .film-list .list-of-film ul li .separator label {
          width: 100%; }
        .film-list .list-of-film ul li .separator a {
          word-break: break-word;
          display: inline-block;
          padding: 8px 10px;
          width: 100%; }
        .film-list .list-of-film ul li .separator span {
          padding: 0 10px; }
      .film-list .list-of-film ul li:hover {
        background-color: rgba(75, 112, 155, 0.3);
        color: #ffffff;
        text-shadow: 1px 1px 0 #4b709b; }
        .film-list .list-of-film ul li:hover a, .film-list .list-of-film ul li:hover span {
          color: #ffffff; }
        .film-list .list-of-film ul li:hover input[type=checkbox]:after {
          color: #ffffff;
          border: 1px solid #ffffff; }
      .film-list .list-of-film ul li input[type=checkbox] {
        width: 25px;
        height: 25px;
        cursor: pointer;
        font-size: 17px;
        margin: 0 20px;
        visibility: hidden; }
        .film-list .list-of-film ul li input[type=checkbox]:after {
          content: " ";
          display: inline-block;
          color: #4b709b;
          width: 23px;
          height: 23px;
          visibility: visible;
          border: 1px solid #4b709b; }
        .film-list .list-of-film ul li input[type=checkbox]:checked:after {
          content: "\2714";
          font-weight: bold;
          text-align: center;
          text-shadow: 1px 1px 0 #4b709b; }
  .film-list .control-button-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a a a" "b b b"; }
    .film-list .control-button-wrapper .control-button {
      grid-area: a;
      padding: 14px 0; }
      .film-list .control-button-wrapper .control-button a {
        display: inline-block;
        width: 100%;
        max-width: 150px;
        line-height: 40px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 12px;
        transition: all 0.3s ease;
        position: relative;
        letter-spacing: 0; }
        .film-list .control-button-wrapper .control-button a:hover:before {
          bottom: auto;
          top: 0;
          width: 70%; }
        .film-list .control-button-wrapper .control-button a:hover, .film-list .control-button-wrapper .control-button a:active {
          text-shadow: 1px 1px 0 #4b709b;
          letter-spacing: 5px; }
          .film-list .control-button-wrapper .control-button a:hover:before, .film-list .control-button-wrapper .control-button a:hover:after, .film-list .control-button-wrapper .control-button a:active:before, .film-list .control-button-wrapper .control-button a:active:after {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: width 350ms ease-in-out;
            transition: width 350ms ease-in-out;
            width: 70%;
            border-color: #ffffff; }
        .film-list .control-button-wrapper .control-button a:before, .film-list .control-button-wrapper .control-button a:after {
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          border: 1px solid transparent;
          bottom: 0;
          content: " ";
          display: block;
          margin: 0 auto;
          position: relative;
          -webkit-transition: all 280ms ease-in-out;
          transition: all 280ms ease-in-out;
          width: 0; }
    .film-list .control-button-wrapper .response {
      grid-area: b;
      color: #ffffff; }

/*# sourceMappingURL=film-list.component.css.map */
