
@import "../../variables";
@import '../mixins';

.authorization {
  height: 100%;
  width: 100%;
  display: grid;
  @media(min-width: 667px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      ". a a ."
      ". a a .";
  }

  .btn {
    align-self: center;
    justify-self: center;
    @media(min-width: 667px) {
      grid-area: a;
      @include button(20px, $button-color, 20px);
    }
    @include button(24px, $button-color, 24px);
    @include svg-rectangle((400, 0), 3, 0.7s);
    &:hover {
      @include animate-hover-button(5, (0, 300), 0, 1.05, $bottom-text-shadow-color);

    }
  }
}

