
<div class="sync-component">

  <!--search?-->



    <div class="table">
      <div class="wl-name">wunderlist name</div>
      <div class="imdb-name">imdb name</div>
      <div class="time">time</div>
      <div class="rating"> rating</div>
      <div class="status"> status</div>
    </div>
  <div class="response">
    <ul>
      <li *ngFor="let film of movieResponseResult">
        <a class="wl-name" >{{film.wunderlistTitle}}</a>
        <a class="imdb-name" *ngIf="film.results.length > 0">{{film.results[0].title}} </a>
        <a class="time" *ngIf="film.results.length > 0" >{{film.results[0].runtime}} </a>
        <a class="rating" *ngIf="film.results.length > 0"> {{film.results[0].vote_average}}</a>
      </li>
    </ul>

  </div>




</div>
