.sync-component .table {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px;
  background-color: rgba(75, 112, 155, 0.3);
  color: white;
  text-align: center; }
.sync-component .wl-name {
  width: 33%;
  max-width: 33%; }
.sync-component .imdb-name {
  width: 33%;
  max-width: 33%; }
.sync-component .time {
  width: 13%;
  max-width: 13%; }
.sync-component .rating {
  width: 10%;
  max-width: 10%; }
.sync-component .status {
  width: 11%;
  max-width: 11%; }
.sync-component .response {
  min-height: 150px; }
  .sync-component .response ul {
    margin: 0;
    padding: 0; }
    .sync-component .response ul li {
      display: flex;
      flex-flow: row nowrap;
      transition: all 0.2s ease;
      cursor: pointer;
      color: #4b709b; }
      .sync-component .response ul li:hover {
        color: #ffffff;
        text-shadow: 1px 1px 0 #4b709b; }
        .sync-component .response ul li:hover a {
          background-color: rgba(75, 112, 155, 0.3); }
      .sync-component .response ul li a {
        word-break: break-word;
        background-color: rgba(255, 255, 255, 0.6);
        background-clip: padding-box;
        padding: 8px 10px; }
      .sync-component .response ul li .wl-name,
      .sync-component .response ul li .imdb-name,
      .sync-component .response ul li .time,
      .sync-component .response ul li .rating,
      .sync-component .response ul li .status {
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-top: 2px solid transparent; }
      .sync-component .response ul li .time,
      .sync-component .response ul li .rating {
        text-align: center; }
      .sync-component .response ul li .status {
        display: flex; }
      .sync-component .response ul li span {
        width: 100%;
        height: 100%;
        display: flex; }
        .sync-component .response ul li span::before {
          content: "";
          height: 10px;
          width: 10px;
          display: block;
          border-radius: 50%;
          margin: 0 auto;
          align-self: center; }
      .sync-component .response ul li .status-ok::before {
        background-color: #4bb74b; }
      .sync-component .response ul li .status-not-found::before {
        background-color: #e16262; }
      .sync-component .response ul li .status-more-then-one::before {
        background-color: #3e99b3; }
.sync-component app-modal-dialog .description {
  display: flex;
  flex-flow: row nowrap; }
  .sync-component app-modal-dialog .description .add-button,
  .sync-component app-modal-dialog .description .delete-button {
    display: flex;
    max-width: 100%;
    width: auto;
    margin: 0;
    padding: 10px; }
    .sync-component app-modal-dialog .description .add-button i,
    .sync-component app-modal-dialog .description .delete-button i {
      margin: 0 6px; }
.sync-component app-modal-dialog .imdb-name {
  width: 44%;
  max-width: 44%; }
.sync-component app-modal-dialog .time {
  width: 20%;
  max-width: 20%; }
.sync-component app-modal-dialog .rating {
  width: 20%;
  max-width: 20%; }
.sync-component app-modal-dialog .add-button,
.sync-component app-modal-dialog .delete-button {
  width: 8%;
  max-width: 8%;
  display: flex;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent; }
.sync-component app-modal-dialog i {
  padding: 4px;
  font-size: 10px;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  align-self: center;
  color: #ffffff; }
.sync-component app-modal-dialog .delete-button i {
  background-color: #e16262; }
  .sync-component app-modal-dialog .delete-button i:hover {
    background-color: #e98d8d; }
.sync-component app-modal-dialog .add-button i {
  background-color: #4bb74b; }
  .sync-component app-modal-dialog .add-button i:hover {
    background-color: #6fc66f; }

/*# sourceMappingURL=sync-film.component.css.map */
