
<div class="sync-component">

  <app-exit-button class="exit" (click)="goToAuthorization()">
    <app-button [buttonTitle]="'Exit'"></app-button>
  </app-exit-button>
  <app-exit-button class="back" (click)="back()">
    <app-button [buttonTitle]="'Back'"></app-button>
  </app-exit-button>
  <app-exit-button class="sync"  [routerLink]="['/syncIMDB']" (click)="doSynchronize(displayFilmList)">
    <app-button [buttonTitle]="'sync IMDB'"></app-button>
  </app-exit-button>
  <div class="content">

    <!--search?-->

    <div class="table">
      <div class="time">duration</div>
      <div class="rating"></div>
    </div>

    <ul>
      <li><a >;ldsk;klv;kl;dvsk;lv</a></li>
    </ul>

  </div>

</div>
