


@import "../../variables";
@import '../mixins';


.sync-component {
  .table{
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
    background-color: rgba($list-background-color, 0.6);

    .wl-name {
      width: 34%;
      max-width: 35%;
    }
    .imdb-name {
      width: 34%;
      max-width: 35%;
    }
    .time {
      width: 11%;
      max-width: 12%;
    }
    .rating {
      width: 9%;
      max-width: 10%;
    }
    .status {
      width: 10%;
      max-width: 10%;
    }
  }

  .response {
    ul {
      margin: 0;
      padding: 0;
      li {
        display: flex;
        flex-flow: row nowrap;
        .wl-name {
          width: 34%;
          max-width: 35%;
        }
        .imdb-name {
          width: 34%;
          max-width: 35%;
        }
        .time {
          width: 11%;
          max-width: 12%;
        }
        .rating {
          width: 9%;
          max-width: 10%;
        }
        .status {
          width: 10%;
          max-width: 10%;
        }
      }

    }
  }

}



