


@import "../../variables";
@import '../mixins';


.sync-component {
  .table{
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
    background-color: rgba($bottom-text-shadow-color, 0.3);
    color:rgba($list-background-color, 1);
    text-align: center;
  }

  .wl-name {
    width: 33%;
    max-width: 33%;
  }
  .imdb-name {
    width: 33%;
    max-width: 33%;
  }
  .time {
    width: 13%;
    max-width: 13%;
  }
  .rating {
    width: 10%;
    max-width: 10%;
  }
  .status {
    width: 11%;
    max-width: 11%;
  }

  .response {
    min-height: 150px;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: flex;
        flex-flow: row nowrap;
        transition: all 0.2s ease;
        cursor: pointer;
        color: $bottom-text-shadow-color;
        &:hover {
          color: $list-background-color;
          text-shadow: 1px 1px 0 $bottom-text-shadow-color;
          a {
            background-color: rgba($bottom-text-shadow-color, 0.3);
          }
        }
        a {
          word-break: break-word;
          background-color: rgba($list-background-color, 0.6);
          background-clip: padding-box;
          display: inline-block;
          padding: 8px 10px;
        }

        .wl-name,
        .imdb-name,
        .time,
        .rating,
        .status {
          border-right: 2px solid transparent;
          border-bottom: 2px solid transparent;
          border-top: 2px solid transparent;
        }
        .time,
        .rating {
          text-align: center;
        }

        .status {
          display: flex;
        }

          span {
            height: 10px;
            width: 10px;
            display: block;
            border-radius: 50%;
            margin: 0 auto;
            align-self: center;
          }
        .status-ok {
          background-color: $status-ok;
        }

        .status-not-found {
          background-color: $status-not-found;
        }

        .status-more-then-one {
          background-color: $status-more-then-one;

        }

      }

    }
  }

}



