$button-color: #ffffff;
$bottom-text-shadow-color: #4b709b;
$input-label-border-color: #ffffff;
$tabs-border: #4d78a0;
$list-background-color: #ffffff;
$list-font-color-on-white-bg: #4b709b;
$box-shadow-line-at-header: #bbdde4;

$status-not-found: #e16262;
$status-ok: #4bb74b;
$status-more-then-one: #3e99b3;
