<div class="textarea">
  <form action="#">
    <div class="input-effect">
      <input class="input-border-style"
             type="text"
             placeholder=""
             name="inputValue"
             [(ngModel)]="inputValue"
             (focus)="focusFunction(true)"
             (focusout)="focusFunction(false)"
             (change)="onChange(inputValue)"/>
      <label class="label" [ngClass] = "top ?'label-has-content':'label'">Name of film</label>
      <span class="focus-border">
            	<i></i>
      </span>
    </div>

    <ng-content></ng-content>

  </form>


</div>
